.btn-primary {
    background-color:goldenrod; 
    border-color: goldenrod; 
    color: white; 
    transition: background-color 0.3s, border-color 0.3s; 
  }

  .btn-primary:hover {
    background-color: rgb(203, 154, 29); 
    border-color: rgb(203, 154, 29); 
  }