  body {
    font-family: Arial, sans-serif;
    background-color: transparent;
  }
  .container {
    padding-top: 50px;
    position: relative;
    top: 50px;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 70px;
    background-color: #b86434;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
  }
  input[type="text"],
  input[type="datetime-local"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon points="6 8 10 12 14 8"></polygon></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 16px;
  }
  .category-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .category-button {
    flex: 0 0 calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .category-button:last-child {
    margin-right: 0;
  }
  .category-button button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .category-button button.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .category-button button:hover {
    background-color: goldenrod;
  }

  .category-button button.btn-dark {
    background-color: goldenrod;
    color: #fff;
    /* Add more styles as needed */
}

  .btn-primary {
    background-color: goldenrod;
    border-color: goldenrod;
  }
  .btn-primary:hover {
    background-color:rgb(203, 154, 29);
    border-color: rgb(203, 154, 29);
  }
  .btn-primary:disabled {
    background-color: rgb(223, 205, 160);
    border-color: rgb(223, 205, 160);
    cursor: not-allowed;
  }

  .form-check-input:checked {
    background-color: goldenrod; /* Background color when checked */
  }

