<div class="container pt-3">
  <div *ngIf="currentState === 'selecting'">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">From these productivity categories, which one seems important to you?</h5>
        <br>
        <div class="row">
          <!-- Grid of Buttons with Icons -->
          <div class="col-6 mb-2" *ngFor="let category of categories">
            <button type="button" class="btn w-100 d-flex flex-column align-items-center"
              [ngClass]="{'btn-outline-primary': !selectedCategories.has(category.key), 'btn-primary': selectedCategories.has(category.key)}"
              (click)="toggleSelection(category.key)">
              <img [src]="category.icon" alt="{{category.name}}" class="img-fluid" style="max-height: 50px;">
              <span>{{category.name}}</span>
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-primary w-100 mt-3" (click)="goToQuestions()">Next</button>
      </div>
    </div>
  </div>
  
  
  <div class="container mt-3" *ngIf="currentState === 'questioning'">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Let's Adjust Your Weekly Routines</h5>
        <p class="card-text">Drag the slider to adjust the number of hours per week you want to dedicate to each activity</p>
        
      <!-- Dynamic Sliders for Each Category -->
      <div *ngFor="let category of categories">
        <div *ngIf="selectedCategories.has(category.key)">
          <label for="slider-{{category.key}}" class="form-label"><b>{{category.name}}</b></label>
          <input type="range" class="form-range" id="slider-{{category.key}}" min="0" max="9"
                 [(ngModel)]="timeSpent[category.key].hours" (ngModelChange)="setHours(category.key, $event)">
          <div class="text-center">{{timeSpent[category.key].hours+1 || 1}} hour(s) per week</div>
        </div>
      </div>
        
      <!-- Start Time Slider -->
        <label for="start-time-slider" class="form-label mt-3"><b>When do you want to start your day?</b></label>
        <input type="range" class="form-range" id="start-time-slider" min="8" max="12"
              [(ngModel)]="startTime" (ngModelChange)="setStartTime($event)">
        <div class="text-center">{{startTime}}:00 AM</div>
  
        <button type="button" class="btn btn-primary mt-3" (click)="completeQuestions()">Generate</button>
      </div>
    </div>
  </div>
  
  