<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekly Calendar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .hour {
      height: 60px;
      border: 1px solid white;
    }
  </style>
</head>

<body>
  <div class="container">
      <div class="row rounded-div mb-3" style="background-color: white;">
          <div class="col-12">
              <!-- Weekly Timetable -->
              <div class="p-3 ">
                  <!-- Dynamically generated grid of days and times -->
                  <div class="container-fluid"> <!-- Use container-fluid to take the whole width -->
                    <div class="calendar">
                      <div class="outer">
                        <table>
                          <thead>
                            <tr>
                              <th class="headcol"></th>
                              <th *ngFor="let day of days">{{ day }}</th>
                            </tr>
                          </thead>
                        </table>
                        <div class="wrap">
                          <table>
                            <tbody>
                              <tr *ngFor="let hour of hours">
                                <td class="headcol">{{ hour }}</td>
                                <td *ngFor="let day of days; let j = index">
                                  <div *ngFor="let item of items" [ngClass]="{'current-time': j === currentDayIndex && getCurrentHour() === hour}">
                                    <div *ngIf="isItemInTimeSlot(item, day, hour)">
                                      {{ item.name }}
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col">
                        <h2>Weekly Calendar</h2>
                        <div class="row">
                          <div class="col no-padding">Time</div>
                          <div class="col no-padding" *ngFor="let day of days">{{ day }}</div>
                        </div>
                        <div class="row" *ngFor="let hour of hours">
                          <div class="col no-padding">{{ hour }}</div>
                          <div class="col no-padding" *ngFor="let day of days">
                            <div class="hour">
                              <div *ngFor="let item of items">
                                <div *ngIf="isItemInTimeSlot(item, day, hour)">
                                  {{ item.name }} 
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                </div>
            
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-animate.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-aria.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-messages.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-resource.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-route.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-sanitize.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-touch.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-cookies.min.js"></script>
              <script>
                var app = angular.module('calendarApp', []);
                app.controller('calendarCtrl', function($scope) {
                  $scope.days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
                  $scope.hours = ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'];
                });
              </script>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-6">
              <!-- Daily Timetable -->
              <ul class="list-group">
                  <li class="list-group-item">
                      <input type="checkbox" class="form-check-input me-2">
                      Morning Meeting at 9:00 AM
                  </li>
                  <!-- More tasks -->
              </ul>
          </div>
          <div class="col-6 text-center custom-col">
            <img src="assets/game/leebitFront.png" alt="Leebit Front Image" class="responsive-img">
            <h5 class="custom-header"><b>Next Reward Progress</b></h5>
            <div class="custom-progress-container">
              <div class="progress custom-progress-bar">
                <div class="progress-bar progress-bar-striped bg-greene" role="progressbar" 
                     [style.width]="progress + '%'"
                     [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
                  {{ progress }}%
                </div>
              </div>
              </div>
            </div>
      </div>
  </div>
</body>
